name: PR checks

on: pull_request

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v1

      - name: Install system dependencies
        run: |
          sudo apt update && sudo apt install -y --no-install-recommends python3-setuptools
          pip3 install --upgrade setuptools
          pip3 install wheel twine

      - name: Build package
        run: python3 setup.py sdist bdist_wheel

      - name: Twine check
        run: python3 -m twine check dist/*

  lint:
    runs-on: ubuntu-18.04

    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-python@v1
        with:
          python-version: 3.6

      - name: Install dependencies
        run: pip3 install black flake8

      - name: Flake
        run: flake8 canonicalwebteam tests

      - name: Black
        run: black --line-length 79 --check canonicalwebteam tests

  test:
    runs-on: ubuntu-18.04

    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-python@v1
        with:
          python-version: 3.6

      - name: Install dependencies
        run: pip3 install .

      - name: Test
        run: SECRET_KEY=fake python3 -m unittest discover tests
